@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');

body{
margin-left: auto;
margin-right: auto;
text-align: center;
background-image: url("../imagenes/fondo.jpg");
}

nav{
	margin-left: auto;
	margin-right: auto;
}

aside{
	margin-left: auto;
	margin-right: auto;
}

header{
	margin-left: auto;
	margin-right: auto;
}


#menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;

}

#menu li{
	float: left;
}

#menu a{
	color: rgb(255,255,102);
	text-decoration: none;
	display: block;
	padding: 12px 26px;
	font-family: "Castoro";
}

#menu {

	width: 890px;
	height: 52px


}

#menu a:hover {
	color: rgb(101, 153, 255);

}


.tit{
	background: rgb(255, 0, 0);
	text-align: center;
	width: 890px;	
	margin: 10px auto;
	font-family: 'Castoro', serif;
	border-style: solid;
	border-color: black;
	-webkit-text-stroke: 0.1px rgb(255,255,102);
    color: rgb(255,255,102);


}

#sonido{

	margin: 10px auto;
	width: 890px;
	color: yellow;
}

#español{
	background: rgb(255, 0, 0);
	color: rgb(255,255,102);
	width: 890px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	text-align: left;
}

#nahuatl{
	background: rgb(255, 0, 0);
	color: rgb(255,255,102);
	width: 890px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	text-align: left;
}

.curs{
	font-style: italic;
	margin-left: 35px;
	margin-right: 35px;
	text-align: justify;
}


#leon{
	width: 890px;
	border-style: solid;
	border-color: black;
}

#autor{
	background: rgb(255, 0, 0);
	width: 890px;	
	margin: 10px auto;
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
}

#fuente{
	color: rgb(255,255,102);
	background: rgb(255, 0, 0);
	width: 890px;
	margin: 10px auto;
	border-style: solid;
	border-color: black;
}

#disqus_thread{
	width: 890px;
	color: white;
	margin: 10px auto;
	border-style: solid;
	border-color: black;
}

#comentario{
	-webkit-text-stroke: 1px black;
    color: rgb(255,255,102);


}

.prueba{
	background: rgb(255, 0, 0);
	text-align: center;
	width: 600px;	
	margin: 50px;
	font-family: 'Castoro', serif;
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
}


.parr{
	margin: 10px;
	text-align: justify;
}

#aporte{
	width: 600px;	
	margin: 50px;
	padding: 0px;
	text-align: justify;
    background: rgb(255, 0, 0);
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
	float: left;
}

#aporte0{
	width: 400px;	
	margin: 50px;
	padding: 0px;
	text-align: justify;
    background: rgb(255, 0, 0);
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
	float: left;
}

#aporte1{
	width: 400px;	
	margin: 50px;
	padding: 0px;
	text-align: justify;
    background: rgb(255, 0, 0);
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
	float: left;

}

.glo{
	background: rgb(255, 0, 0);
	text-align: center;
	width: 920px;	
	margin: 49px;
	font-family: 'Castoro', serif;
	border-style: solid;
	border-color: black;
	color: rgb(255,255,102);
}
